<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhuo.blockgamesquare.mapper.ETHTOKENMapper" >
  <resultMap id="BaseResultMap" type="com.jiazhuo.blockgamesquare.domain.ETHTOKEN" >
    <id column="UID" property="UID" />
    <id column="type" property="type" />
    <result column="ETHAddress" property="ETHAddress" />
    <result column="amount" property="amount" />
    <result column="canLock" property="canLock" />
  </resultMap>
  <insert id="insert" parameterType="com.jiazhuo.blockgamesquare.domain.ETHTOKEN" >
    insert into ethtoken (UID, type, ETHAddress, amount, canLock)
    values (#{UID}, #{type}, #{ETHAddress}, #{amount}, #{canLock})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jiazhuo.blockgamesquare.domain.ETHTOKEN" >
    update ethtoken
    set ETHAddress = #{ETHAddress},
      amount = #{amount},
      canLock = #{canLock}
    where UID = #{UID}
      and type = #{type}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select UID, type, ETHAddress, amount, canLock
    from ethtoken
    where UID = #{UID}
      and type = #{type}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select UID, type, ETHAddress, amount, canLock
    from ethtoken
  </select>
</mapper>